<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/crear.css">
    <title>FASHION FRIENDLY</title>
    
</head>
<body>
    
    <header class="header">
        <center><h1>Diseña tu prenda</h1></center>
        </header>

        <nav>
            <ul>
                <li><a href="/sessionIn"><i class="fa-solid fa-house"></i>inicio</a></li>
                <li><a href="/crear"><i class="fa-solid fa-scissors"></i>diseña</a></li>

                <li><a href="/logOut"><i class="fa-solid fa-user-plus"></i>cerrar sesion</a></li>
            </ul>
        </nav>

    <main class="main">
        <div class="todo">
        <section class="padre">
            <article class="pares">
                <h2>Prendas para hombre</h2>
                <buttons>
                    <a href="/crearHom">
                        <img class="mujer" src="https://res.cloudinary.com/fashion-friendly/image/upload/v1656266617/logo/crear/caballero_p08i3o.jpg" alt="mujer.jpg">
                    </a>
                </buttons> 
            </article>
            <article class="pares">
                <h2>prendas para mujer</h2>
                <buttons>
                    <a href="/crearMu">
                        <img class="imagen" src="https://res.cloudinary.com/fashion-friendly/image/upload/v1656266623/logo/crear/mujer_pqwvh5.jpg" alt="caballero.jpg">
                    </a> 
                </buttons>
        </article>
            </section>
        </div>
        </main>
   
      <footer>
        <p>Derechos reservados a:
            <ul>
                <li>Julian Parra</li>
                <li>Pedro Bermudez</li>
                <li>Jimena Fraile</li>
                <li>Nicolas Mazo</li>
                <li>Fernanda Henao</li>
            </ul>fshnfriendly@gmail.com</p>
            <p> &copy;2022</p>
    </footer>
    
</body>
</html>