<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/principal.css">
    <title>FASHION</title>
</head>

<body>

    <nav>
        <ul class="menu">
            <li><a href="/"><i class="fa-solid fa-house"></i>inicio</a></li>
            <li><a href="/nosotros"><i class="fa-regular fa-building"></i>SOBRE NOSOTROS</a></li>
            <li><a href="/registro"><i class="fa-solid fa-user-plus"></i>REGISTRARSE</a></li>

        </ul>
    </nav>
    <div class="title1">
        <h1>FASHION-FRIENDLY</h1>
        <h2>Diseñado por los ilusionistas</h2>
    </div><br><br>
    <div class="logo">
        <img src="https://res.cloudinary.com/fashion-friendly/image/upload/v1656082054/logo/Heio_lishpe.png" alt="">

    </div><br><br>
    <div class="columns">
        <div class="columnleft">
            <h2>¿En que consiste?</h2>
            <p>Somos un grupo de aprendices SENA los cuales diseñados esta pagina con el fin de que las personas se
                entretengan creando sus propios diseños de ropa en donde tengan espacio para dejar volar su imaginacion,
                Actualmente cursamos segundo trimestre en la tecnologia ADSI "analisis y desarrollo de software" </p>
        </div>
        <hr 6px black>

    </div><br><br>
    <main>
        <div>
            <form class="lo" action="/login" method="post">
                <h3>Ingrese Nombre de usuario</h3>

                <input name="name_user" type="text" class="controles" id="exampleInputEmail1"
                    aria-describedby="emailHelp">

                <h4>Ingrese contraseña</h4>

                <input name="contraseña" type="password" class="controles" id="exampleInputPassword1">
                <p>Estoy de acuerdo con <a href="#">Terminos y condiciones</a></p>

                <button type="submit" class="botons">ENTRAR</button>
                <p><a href="/recuperar">¿Olvido su contraseña?</a></p>
                <p><a href="/registro">Registrarse</a></p>
            </form>
        </div>
    </main>

    <footer>
        <p>Derechos reservados a:<br>Julian Parra<br>Pedro Bermudez<br>Jimena Fraile<br>Nicolas Mazo<br>Fernanda
            Henao<br>fshnfriendly@gmail.com</p>
            <p> &copy;2022</p>
    </footer>
</body>

</html>