<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/principal.css">
    <title>FASHION</title>
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="/"><i class="fa-solid fa-house"></i>inicio</a></li>
           <li><a href="/crear"><i class="fa-solid fa-scissors"></i>dise単a</a></li>
            <li><a href="/nosotrosOn"><i class="fa-regular fa-building"></i>sobre nosotros</a></li>
            <li><a href="/logOut"><i class="fa-solid fa-user-plus"></i>cerrar sesion</a></li>
            <li>HOLA:<%=name%> </li>
        </ul>
    </nav>
    <div class="title1">
        <h1>FASHION-FRIENDLY</h1>
        <h2>Dise単ado por los ilusionistas</h2>
    </div><br><br>
    <div class="columns">
        <div class="columnleft">
            <h2>多En que consiste nuestra aplicacion?</h2>
            <p>Nuestra aplicacion consiste en una herramienta que facilita a los dise単adores a plasmar sus ideas dejando volar su imaginacion al maximo, de manera que se puedan divertir y compartir sus ideas con otras personas </p>
        </div>
        <hr 6px black>

    </div><br><br>
    <div class="contenido">
        <div class="logo">
            <div><img src="https://res.cloudinary.com/fashion-friendly/image/upload/v1656082054/logo/Heio_lishpe.png"></div>
        </div>
    </div>

    <footer>
        <p>Derechos reservados a:<br>Julian Parra<br>Pedro Bermudez<br>Jimena Fraile<br>Nicolas Mazo<br>Fernanda
            Henao<br>fshnfriendly@gmail.com</p>
            <p> &copy;2022</p>
    </footer>
</body>
</html>