<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Friendly</title>
    <link rel="stylesheet" type="text/css" href="css/sobre_nosootros.css">

</head>
<body>

    <header><b>Sobre nosotros</b></header>
    <div class="volver">
        <ul>
       
            <li><a href="#" target="_blanck">Volver</a></li>
   </ul>
</div> 

    <main>
       
        <article><b>Motivo de craecion de esta pagina</b>
            <p>el motivo por el cual creamos esta página fue por que vimos la necesidad de que las personas tengan un espacio en el cual podrán, hacer volar su imaginación para diseñar una prenda que sea del agrado de  ellos, la página tendrá una sesión donde podrán elegir su género y después de esto podrán crear su diseño de  ropa para hombre o mujer tendrán opciones de cambiarle el color a dicha prenda diseñada por ellos a demás de escoger la prenda si es una camisa manga larga o corta y diferentes cosas mas que tengan que ver con diseñar su prenda.</p>
          <h1>agradecimiento a nuestros usuarios</h1>
            <p>agradecemos a todas las personas que utilizaron nuestra página esperamos que vuelvan a utilizar nuestros servicios ,  esperamos  enormemente que fuera de su agrado y que la utiliza de forma que se divierta y haga volar su imaginación.</p>
        </article>
       
    
    </main>
    
</body>

</html>