<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/recuperar.css">

    <title>Fashion Friendly</title>


</head>

<body>

        <h1>Recuperar contraseña</h1>
 

    <div>
        <form action="#" method="post">
              <h3>Ingrese su email</h3>
              <input name="email" type="text" class="controles" id="exampleInputEmail1" aria-describedby="emailHelp">

              <h3>Ingrese su nombre de usuario</h3>
              <input name="name_user" type="text" class="controles" id="exampleInputEmail1" aria-describedby="emailHelp">

              <h4>Ingrese contraseña</h4>
              <input name="contraseña" type="password" class="controles" id="exampleInputPassword1">
              <p>Estoy de acuerdo con <a href="#">Terminos y condiciones</a></p>

            <button type="submit" class="botons">ENTRAR</button>
          
            <p><a href="/registro">Registrarse</a></p>
          </form>
    </div>

    <footer>
        <p>Derechos reservados a:<br>Julian Parra<br>Pedro Bermudez<br>Jimena Fraile<br>Nicolas Mazo<br>Fernanda
            Henao<br>fshnfriendly@gmail.com</p>
            <p> &copy;2022</p>
    </footer>
</body>

</html>