<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/registro.css">
  <title>FASHION</title>
</head>

<body>
  <header class="header">
    <h1>REGISTRATE</h1>
  </header>

  <nav>
    <ul>
      Hola, por favor llena la siguiente informacion para registrarte
    </ul>
  </nav>

  <form action="/registre" method="post">
    <div class="unTodo">
      <section class="cajaPrincipal">
        <article>
          <div class="caja">
            Ingrese su nombre (s):<br>
            <input name="nombres" type="text" class="cajasDeInfo" placeholder="Ingrese nombre (s)"> </input><br><br>
            Ingrese su telefono:<br>
            <input name="telefono" type="tel" class="cajasDeInfo" placeholder="Ingrese telefono"> </input><br><br>
            Ingrese su fecha de nacimiento:<br>
            <input name="fecha_nacimiento" type="date" class="cajasDeInfoCentradas" placeholder="Ingrese fecha nacimiento"> </input><br><br>
            Ingrese la contraseña:<br>
            <input name="contraseña" type="password" class="cajasDeInfo" placeholder="Ingrese contraseña"></input><br><br>

          </div>
          <div class="caja">

            Ingrese su apellido (s):<br>
            <input name="apellidos" type="text" class="cajasDeInfo" placeholder="Ingrese apellido (s)"> </input><br><br>
            Ingrese su gmail:<br>
            <input name="email" type="email" class="cajasDeInfo" placeholder="Ingrese gmail"> </input><br><br> 
            Ingrese un nombre de usuario:<br>
            <input name="name_user" type="text" class="cajasDeInfo" placeholder="Ingrese nombre de usuario"></input><br><br>
            Confirme la contraseña:<br>
            <input name="retificar_contraseña" type="password" class="cajasDeInfo" placeholder="Confirme contraseña"></input><br><br>
          </div>
        </article>
      </section>
    </div>
    <button type="submit" class="envioRegistro">Submit</button>
  </form>

  <footer>
    <p>Derechos reservados a:<br>Julian Parra<br>Pedro Bermudez<br>Jimena Fraile<br>Nicolas Mazo<br>Fernanda
        Henao<br>fshnfriendly@gmail.com</p>
        <p> &copy;2022</p>
</footer>
</body>

</html>