<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Friendly</title>
    <link rel="stylesheet" type="text/css" href="css/sobre_nosootros.css">

</head>

<body>

    <header><b>Sobre nosotros</b></header>
    <div class="volver">
        <ul>
            <li><a href="/" target="_blanck">Volver</a></li>
        </ul>
    </div>

    <main>

        <article><b>Nuestros servicios</b>
            <p>Nosotros le ofrecemos una aplicación donde pueda diseñar sus propias
                prendas desde cero, donde pueda elegir sus colores, sus medidas, si
                es corta mediana,como desee, puede crear prendas para hombre o para mujer,
                también va tener la opción de poder visualizar sus diseños en un maniquí
                para que sea mas fácil su creación, ademas de esto podrá encontrar
                diseños de las demás personas, podrá verlas y inspirarse o
                simplemente admirarlas</p>
        </article>
        <nav><b>¿Quienes somos?</b>
            <p>Somos 5 estudiantes de adsi, que están estudiando y aprendiendo a
                programar, y queremos que las personas tengan lo que les llame mas
                la atención, lo que mas nos importa es su opinión para seguir mejorando</p>
        </nav>
        <aside><b>Nuestro objetivo</b>
            <p>Nosotros queremos ayudar a l@s diseñadores a poder hacer sus diseños mas
                fáciles y interactivos, ademas queremos que se diviertan no solo los
                creadores si no las demás personas que descarguen esta aplicación.
            </p>
        </aside>

    </main>
    <footer>
        <p>Derechos reservados a:<br>Julian Parra<br>Pedro Bermudez<br>Jimena Fraile<br>Nicolas Mazo<br>Fernanda
            Henao<br>fshnfriendly@gmail.com</p>
            <p> &copy;2022</p>
    </footer>

</body>

</html>